bin
Bin
/Application/Crm/Img.Crm5.ICE.WR.Web/ClientBin
deploy
deploy/*
obj
csx
debug
*.xap
*.dbmdl
*.suo
*.cache
*.tmp
*.user
*.bak
*.pubxml
*.favdoc
*.zip
debug
*Publish.xml
/Publish/*
Sandbox/
publish
publish/*
_publish
_publish/*
/PublishProfiles/*.pubxml
!DataTemplates.xaml
_set_credentials.bat
Login.partial.cs