<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Enviroment" value="Live"/>
    <add key="BARDB_Dev" value="Data Source=82.119.117.77;Initial Catalog=ClubArcada.Bar_Live;User ID=BarUser;Password=Bar1969"/>
    <add key="BARDB_Live" value="Data Source=82.119.117.77;Initial Catalog=ClubArcada.Bar_Live;User ID=BarUser;Password=Bar1969"/>
    <add key="DBPS_Live" value="Data Source=82.119.117.77;Initial Catalog=PokerSystem;User ID=PokerTimer;Password=Poker1969"/>
  </appSettings>
  <system.web>
    
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>