<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Enviroment" value="Live" />
    <add key="BARDB_Dev"  value="Data Source=82.119.117.77;Initial Catalog=ClubArcada.Bar_Live;User ID=BarUser;Password=Bar1969" />
    <add key="BARDB_Live" value="Data Source=82.119.117.77;Initial Catalog=ClubArcada.Bar_Live;User ID=BarUser;Password=Bar1969" />
    <add key="DBPS_Live" value="Data Source=82.119.117.77;Initial Catalog=PokerSystem;User ID=PokerTimer;Password=Poker1969" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>